<ion-list>
  <ion-list-header class="heading-popup">Chọn thao tác:</ion-list-header>
  <ion-item *ngIf="message">
    <ion-button expand="block" color="success" (click)="close('message')">
      <ion-icon
        name="chatbubble-ellipses-outline"
        style="margin: 0 8px 0 0"
      ></ion-icon>
      Gửi Tin nhắn
    </ion-button>
  </ion-item>

  <ion-item *ngIf="edit">
    <ion-button expand="block" color="primary" (click)="close('edit')">
      <ion-icon name="pencil-outline" style="margin: 0 8px 0 0"></ion-icon>
      Sửa
    </ion-button>
  </ion-item>

  <ion-item *ngIf="report">
    <ion-button expand="block" color="warning" (click)="close('report')">
      <ion-icon name="flag-outline" style="margin: 0 8px 0 0"></ion-icon>
      Báo cáo
    </ion-button>
  </ion-item>

  <ion-item *ngIf="delete">
    <ion-button expand="block" color="danger" (click)="close('delete')">
      <ion-icon name="trash-outline" style="margin: 0 8px 0 0"></ion-icon>
      Xoá
    </ion-button>
  </ion-item>

  <ion-item lines="none" detail="false" button (click)="close()">
    Đóng
  </ion-item>
</ion-list>
