<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Trang thông tin</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="about-container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card color="light" class="ion-margin-top pb-32">
            <ion-card-header>
              <ion-card-title class="heading-card">VỀ TRANG WEB CỦA CHÚNG TÔI</ion-card-title>
            </ion-card-header>
            <div class="separator-line"></div>
            <ion-card-content class="ion-padding-horizontal">
              <p class="text">
                <ion-text color="dark">
                  Đây là một giải pháp quản lý tài sản trực tuyến dành cho quản lý bất động sản.
                  Nó có thể bao gồm bất động sản nhà ở, thương mại và đất đai. Đây là một trang web được phát triển 
                   để kết nối người quản lý tài sản và người mua tiềm năng.
                </ion-text>
              </p>
              <p class="text ion-padding-top">
                <ion-text color="dark">
                  Cho dù bạn có từ 1 đến 100 tài sản, website này sẽ giúp bạn quảng cáo, quản lý và bán tài sản của mình cho người mua tiềm năng.
                </ion-text>
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" sizeLg="6" class="map-container">
          <img src="assets/images/about/about-map.svg" alt="map image" />
        </ion-col>
        <ion-col size="12" sizeLg="6">
          <ion-card color="light" class="pb-32">
            <ion-card-header>
              <ion-card-title class="heading-card">XEM BẢN ĐỒ</ion-card-title>
            </ion-card-header>
            <div class="separator-line"></div>
            <ion-card-content class="ion-padding-bottom">
              <p class="text">
                <ion-text color="dark">
                  Bản đồ là một công cụ hữu ích để xem vị trí BĐS và lọc chúng
                  theo loại. Điều này cũng giúp chúng ta biết khoảng cách từ
                  chúng ta đến BĐS đó bao xa.
                </ion-text>
              </p>
              <p class="text ion-padding-top">
                <ion-text color="dark">
                  Bạn có thể không nhất thiết muốn tìm con đường nhanh nhất từ chỗ ở A đến chỗ ở B,
                   bạn có thể muốn đi theo con đường ngắm cảnh. Biết cách xác định các ngọn núi, hồ nước,
                    bờ biển và các di tích lịch sử trên bản đồ sẽ giúp bạn lên kế hoạch tham quan bất động sản.
                </ion-text>
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="try-us-section">
    <ion-button color="success" size="large" routerLink="/user/register"
      >THỬ NGAY</ion-button
    >
  </div>
  <div class="about-container">
    <ion-grid class="feature-section">
      <ion-row>
        <ion-col>
          <ion-card color="light" class="pb-32">
            <ion-card-header>
              <ion-card-title class="heading-card"> VỀ BẤT ĐỘNG SẢN CỦA BẠN </ion-card-title>
            </ion-card-header>
            <div class="separator-line"></div>
            <ion-card-content class="ion-padding-bottom">
              <p class="text">
                <ion-text color="dark">
                  <strong>
                    Bạn có đang dành quá nhiều thời gian để tìm kiếm một Bất động sản để mua hay không?
                  </strong>
                  <br />
                  Đừng lo lắng, chúng tôi sẽ hỗ trợ bạn. Chúng tôi có hàng trăm bất động sản chất lượng cao sẵn sàng để bán. 
                  Bạn có thể sử dụng thanh tìm kiếm để tìm thuộc tính và xem thông tin cơ bản (giá, địa chỉ, loại, v.v.) về thuộc tính mong muốn.
                </ion-text>
              </p>
              <p class="text ion-padding-top">
                <ion-text color="dark">
                  <strong>Bạn đang sở hữu một BĐS mà bạn muốn bán?</strong>
                  <br />
                  Website của chúng tôi sẽ giúp quảng cáo tài sản của bạn tới người mua tiềm năng.
                </ion-text>
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" sizeLg="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-text color="primary">Kết nối</ion-text> với mọi người
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="features">
              <img src="assets/images/about/about-connection.svg" alt="image" />
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeLg="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-text color="primary">Mua</ion-text> một BĐS mới
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="features">
              <img src="assets/images/about/about-buy.svg" alt="image" />
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeLg="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-text color="primary">Bán</ion-text> bất dộng sản
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="features">
              <img src="assets/images/about/about-sell.svg" alt="image" />
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div style="height: 100px"></div>
  </div>

  <div class="contact-section">
    <ion-grid>
      <ion-row>
        <ion-col size="12" sizeLg="5" sizeXl="6" class="left-side">
          <div class="heading">Hãy liên hệ với chúng tôi</div>
          <div class="sub-heading">
           Hãy kết nối hoặc phản hồi với chúng tôi các thắc mắc của bạn!
          </div>
        </ion-col>
        <ion-col size="12" sizeLg="7" sizeXl="6">
          <app-contact-form> </app-contact-form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <app-footer></app-footer>
</ion-content>
