<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="step === 2">
      <ion-button (click)="step = 1">
        <ion-icon name="arrow-back-outline" style="font-size: 24px"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Thêm một BĐS mới</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline" style="font-size: 28px"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="form ion-padding">
  <form [formGroup]="propertyForm">
    <!-- STEP ONE -->
    <section *ngIf="step === 1">
      <ion-item lines="none">
        <ion-input
          type="text"
          label="Tên:"
          labelPlacement="floating"
          formControlName="name"
          fill="outline"
          helperText="Nhập tên Bất động sản"
          errorText="Tên không hợp lệ"
        ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input
          type="text"
          label="Địa chỉ:"
          labelPlacement="floating"
          formControlName="address"
          fill="outline"
          helperText="Nhập địa chỉ"
          errorText="Địa chỉ không hợp lệ, địa chỉ là bắt buộc"
        ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-textarea
          formControlName="description"
          labelPlacement="floating"
          label="Mô tả:"
          placeholder="..."
          fill="outline"
          helperText="Nhập mô tả"
          errorText="Mô tả không hợp lệ, quá ngắn!"
        ></ion-textarea>
      </ion-item>

      <ion-list>
        <ion-radio-group formControlName="type">
          <ion-list-header>
            <ion-label>Loại</ion-label>
          </ion-list-header>

          <ion-item lines="none" *ngFor="let type of propertyTypes">
            <label for="radio">{{ type.label }}</label>
            <ion-radio
              slot="start"
              id="radio"
              [label]="type.label"
              [value]="type.value"
            ></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </section>
    <!-- STEP TWO -->
    <section *ngIf="step === 2">
      <ion-item lines="none">
        <ion-input
          type="number"
          label="Giá:"
          labelPlacement="floating"
          formControlName="price"
          fill="outline"
          helperText="Nhập giá của Bất động sản"
          errorText="Giá không hợp lệ"
        ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input
          type="text"
          placeholder="VND, USD, PHP, SGD"
          labelPlacement="floating"
          label="Tiền tệ:"
          formControlName="currency"
          fill="outline"
          helperText="Nhập đơn vị tiền tệ của bạn"
          errorText="Đơn vị tiền tệ không hợp lệ"
        ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-textarea
          formControlName="features"
          label="Đặc điểm:"
          labelPlacement="floating"
          placeholder="nhà trung tâm, đủ nội thất, ..."
          fill="outline"
          helperText="Mô tả đặc điểm, cách nhau bởi dấu phẩy (,)"
        ></ion-textarea>
      </ion-item>

      <div class="coord-heading">
        <ion-text color="dark">Định vị trên bản đồ:</ion-text>
        <ion-button size="small" color="primary" (click)="openMap()">
          Mở bản đồ
        </ion-button>
      </div>
      <div class="coord-input">
        <ion-item lines="none">
          <ion-input
            type="text"
            label="Vĩ độ:"
            labelPlacement="floating"
            formControlName="lat"
            placeholder="Vĩ độ"
            fill="outline"
          ></ion-input>
        </ion-item>
        <div class="ion-margin"></div>
        <ion-item lines="none">
          <ion-input
            type="text"
            label="Kinh độ:"
            labelPlacement="floating"
            formControlName="lng"
            placeholder="Kinh độ"
            fill="outline"
          ></ion-input>
        </ion-item>
      </div>
    </section>

    <ion-button
      expand="block"
      size="large"
      (click)="submit()"
      class="ion-margin"
      color="success"
      [disabled]="isSubmit"
    >
      {{ step === 2 ? "Gửi" : "Tiếp" }}
    </ion-button>
  </form>
</ion-content>

<ion-footer translucent>
  <ion-toolbar>
    <div class="ion-padding-horizontal">Bước {{ step }} / 2</div>
  </ion-toolbar>
</ion-footer>
