<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-capitalize"> Thông tin liên hệ </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <form [formGroup]="contactForm" (submit)="submit()">
      <ion-list>
        <ion-item>
          <ion-input
            labelPlacement="floating"
            label="Email:"
            type="text"
            formControlName="email"
          ></ion-input>
        </ion-item>

        <div
          class="alert-errors"
          *ngIf="error && contactForm.get('email').errors"
        >
          <app-alert-card> Email không hợp lệ. </app-alert-card>
        </div>

        <ion-item>
          <ion-input
            labelPlacement="floating"
            label="Tên:"
            type="text"
            formControlName="name"
          ></ion-input>
        </ion-item>

        <div
          class="alert-errors"
          *ngIf="error && contactForm.get('name').errors"
        >
          <app-alert-card> Tên phải được điền chính xác. </app-alert-card>
        </div>

        <ion-item>
          <ion-textarea
            formControlName="message"
            labelPlacement="floating"
            label="Lời nhắn:"
            placeholder="Tối thiểu phải chứa 10 chữ cái"
          ></ion-textarea>
        </ion-item>

        <div
          class="alert-errors"
          *ngIf="error && contactForm.get('message').errors"
        >
          <app-alert-card>
           Hãy đảm bảo rằng tin nhắn đã được điền chính xác.
          </app-alert-card>
        </div>
      </ion-list>

      <ion-button expand="block" size="large" type="submit" [disabled]="sent">
        {{ sent ? "Tin nhắn đã được gửi" : "Gửi tin nhắn" }}
      </ion-button>
    </form>
  </ion-card-content>
</ion-card>
